<div class="comment row">
  <div class="col-lg-2">
    <img src=<%= comment.user.image%> width="90" height="90" style="border-radius: 10px;">
  </div>
  <div class="col-lg-10">
    <%= comment.content %>
  </div>
</div>
