<div class="comment row">
  <div class="col-lg-2">
    <img src=<%= comment.user.image%> width="70" height="70" class="avatar_Login ">
  </div>
  <div class="col-lg-10">
    <%= comment.content %>
  </div>
</div>
