/* line 1, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.header_Posts_Show {
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
}

/* line 10, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.card-block {
  -webkit-box-shadow: 0 7px 6px -6px #777;
  -moz-box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
}

/* line 16, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.body_Posts_Show {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  background-color: white;
  -webkit-box-shadow: 0 7px 6px -6px #777;
  -moz-box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
}

/* line 29, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.post_Edit_Block {
  margin-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
}

/* line 35, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.edit_Post_Column {
  font-size: 20px;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 2%;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 7px 6px -6px #777;
  -moz-box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
}

/* line 48, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.edit_Post_Button {
  width: 100%;
  margin-top: 3%;
}

/* line 53, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.posts_New_Body {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 0 7px 6px -6px #777;
  -moz-box-shadow: 0 7px 6px -6px #777;
  box-shadow: 0 7px 6px -6px #777;
}

/* line 67, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.post_New_Header {
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid lightgray;
}

/* line 73, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
body.dragging, body.dragging * {
  cursor: move !important;
}

/* line 77, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

/* line 83, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
tbody.example tr.placeholder {
  position: relative;
  /** More li styles **/
}

/* line 87, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
tbody.example tr.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

/* line 92, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.show_Text {
  width: 90%;
  padding-left: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  word-wrap: break-word;
  font-size: 20px;
}

/* line 101, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.show_Video {
  height: 350px;
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 107, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.show_Image {
  padding-top: 2%;
  padding-bottom: 2%;
}

/* line 112, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.show_Inner_Image {
  max-width: 100%;
  max-height: 100%;
}

/* line 117, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.pagination {
  font-size: 16px;
}

/* line 121, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.pagination > * {
  border: 1px solid lightgray;
  margin-right: 0.1em;
  padding: 0.3em 0.4em;
  transition: border 0.5s, background-color 0.5s, color 0.5s;
}

/* line 128, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.pagination a {
  color: #400627;
}

/* line 132, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.pagination a:hover {
  background: lightgray none repeat scroll 0 0;
  border-color: gray;
  text-decoration: none;
  color: black;
}

/* line 139, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.pagination a:active {
  text-shadow: none;
  text-decoration: none;
}

/* line 144, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.pagination .current {
  background: #202020 none repeat scroll 0 0;
  color: white;
  text-shadow: 1px 1px 1px #171717;
}

/* line 150, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.pagination .disabled {
  color: #C0C0C0;
}

/* line 154, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
#comments {
  border-radius: 5px;
  margin-top: -2%;
}

/* line 159, C:/Users/Knazz/RubymineProjects/rails_apps/Course_Itransition/app/assets/stylesheets/posts.scss */
.comment {
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid lightgray;
}
