<div class="container-fluid">
  <div class="row step_Edit_Header">
    <div class="col-lg-2" style="font-size: 20px">Add a new:</div>
    <div class="col-lg-4">
      <a class="btn btn-social-icon btn-success btn-md" onclick="create_New_Text()">
        <i class="fa fa-file-text" style="color: white"></i>
      </a>
      <a class="btn btn-social-icon btn-success btn-md" onclick="create_New_Image()">
        <i class="fa fa-picture-o" style="color: white"></i>
      </a>
      <a class="btn btn-social-icon btn-success btn-md" onclick="create_New_Video()">
        <i class="fa fa-video-camera" style="color: white"></i>
      </a>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <%= link_to "Destroy", post_step_path(@step.id), method: :delete, :class => "btn btn-danger"%>
          <button type="button" class="btn btn-success">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
<ol id="main_Block" class="drag_List">
</ol>
