<div style="padding-left: 15%; padding-right:15%; padding-top:1%; padding-bottom:2%">
    <div class="container-fluid">
      <div class="row" style="display:flex;justify-content: flex-start;">
        <div id="my-posts">
          <%= render 'post' %>
        </div>
      </div>
    </div>
</div>
