<div class="container-fluid body_Posts_Show">
  <div class="row header_Posts_Show">
    <%= @post.name %>
  </div>
  <% @post.tag_list.each do |tag| %>
    <%= link_to tag, tag_path(tag), :class => "badge badge-pill badge-danger tags" %>
  <% end %>
<%= link_to 'Back', posts_path %>

</div>
