<div class="container-fluid body_Posts_Show">
  <div class="row header_Posts_Show">
    <div class="col-lg-9">
      <%= @post.name %>
    </div>
    <div class="col-lg-2">
      <% if current_user %>
        <%= rating_for @post, "original_score" %>
      <% end %>
    </div>
    <div class="col-lg-1" style="text-align: left">
      <% if (current_user && (@post.user_id == current_user.id || current_user.isAdmin)) %>
        <%= link_to t('posts.show.links.edit'), edit_post_path(@post.id), class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

  <% @post.tag_list.each do |tag| %>
    <%= link_to tag, tag_path(tag), :class => "badge badge-pill badge-danger tags" %>
  <% end %>

  <div class="row show_Text">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
      fjg;dlkewkl;feghk.fmekwifgm,r.ekljmne2urgkeiurk32ieurjgkrlergmkreijgrkeifjmke lwfidm,ewriogkmr,ew hjr,e.hgk.ertghgsdfjg;dlkewkl;feg hk.fmekwifgm,r.ekljmne2urgkeiurk32ieurjgkrlergmkreijgrkeifjmkelwfidm,ewriogkmr,ewhjr,e.hgk.
    </div>
    <div class="col-lg-1"></div>
  </div>

  <div class="row show_Video">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/2ONfK-dM6nY" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-3"></div>
  </div>

  <div class="row show_Image">
    <div class="col-lg-1"></div>
    <div class="col-lg-10" style="text-align:center">
      <img src="http://minionomaniya.ru/wp-content/uploads/2016/01/%D0%BC%D0%B8%D0%BD%D1%8C%D0%BE%D0%BD%D1%8B-%D0%BF%D1%80%D0%B8%D0%BA%D0%BE%D0%BB%D1%8B-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8.jpg" class="show_Inner_Image">
    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
