/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
 	transition:all 0.6s;
 	font-size: 18px;
 	padding-bottom: 1%;
 	color: #400627;
}

 .body_light{
 	background-color: darkgray;
 	transition:all 0.6s;
 	color: white;
 }

.header{
 	color: white;
 	padding-top:1%;
 	padding-bottom: 1%;
 	background-color: #400627;
 	font-weight: bold;
 	transition:all 0.6s;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    background-color: #400627;
    color: white;
}

.light-header{
	color: black;
	background-color: white;
	transition:all 0.6s;
}

.login{
	font-size: 20px;
	text-align: center;
}

.login:hover{
	cursor:pointer;
	color: lightgray;
	font-size: 22px;
}

.modal-content{
	width: 300px;
	font-size: 20px;
	font-weight: bold;
	color: #400627;
	border-radius: 5px;
	border: 2px solid #400627;
}

.modal-body{
	text-align:center;
	padding-top: 10%;
	padding-bottom: 10%;
}

.avatar_Login{
	border-radius: 50%;
	transition: box-shadow 0.6s;
}

.avatar_Login:hover{
	box-shadow: 1px 1px 4px white;
}

.dropdown-menu{
	margin-top: 6%;
}

.link_Header{
	color: white;
	text-decoration:none;
	font-size: 20px;
	cursor: pointer;
}

tr:hover{
	cursor:pointer;
}

.a > a:hover{
	color: lightgray;
	font-size: 22px;
	text-decoration: none;
}

.a > a:active{
	color: lightgray;
	font-size: 22px;
	text-decoration: none;
}

.a > a:link{
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.a > a:visited{
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.img_Show{
	border-radius: 50%;
}

.header_Show{
	margin-left: 10%;
	margin-right: 10%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 1px solid lightgray;
	font-weight: bold;
	font-size: 25px;
}

.content_Show{
	font-size: 20px;
}

.body_Show{
	padding-top: 2%;
	padding-bottom: 2%;
}

.header_Edit{
	padding-top: 2%;
	padding-bottom: 2%;
	font-size: 20px;
	font-weight: bold;
}

.input-group{
	font-size: 18px;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.tags {
  font-weight: normal;
  font-size: 18px;
}
