.header_Posts_Show{
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 22px;
	font-weight: bold;
	border-bottom: 1px solid lightgray;
}

.body_Posts_Show{
	padding-left: 10%;
	padding-right: 10%;
}

.edit_Post_Column{
	font-size:20px;
	font-weight: bold;
	padding-left:3%;
	padding-top: 1%;
	padding-bottom: 2%;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.edit_Post_Button{
	width: 90%;
	margin-top:3%;
}

.posts_New_Body{
	padding-left: 20%;
	padding-right: 30%;
	font-size: 20px;
	font-weight: bold;
}

.post_New_Header{
	padding-top:1%;
	padding-bottom: 1%;
	border-bottom: 1px solid lightgray;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

tbody.example tr.placeholder {
  position: relative;
  /** More li styles **/
}
tbody.example tr.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

.show_Text{
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	word-wrap:break-word;
	font-size: 20px;
}

.show_Video{
	height: 300px;
	padding-top: 1%;
	padding-bottom: 1%;
}

.show_Image{
	height: 300px;
	padding-top: 1%;
	padding-bottom: 1%;
}

.show_Inner_Image{
	max-width: 100%;
	max-height: 100%;
}

.pagination {
    font-size: 16px;
}

.pagination > * {
		border: 1px solid lightgray;
		margin-right: 0.1em;
    padding: 0.3em 0.4em;
		transition: border 0.5s, background-color 0.5s, color 0.5s;
}

.pagination a{
 	color: #400627;
}

.pagination a:hover {
    background: lightgray none repeat scroll 0 0;
		border-color:gray;
		text-decoration: none;
		color: black;
}

.pagination a:active {
    text-shadow: none;
		text-decoration: none;
}

.pagination .current {
    background: #202020 none repeat scroll 0 0;
    color: white;
    text-shadow: 1px 1px 1px #171717;
}

.pagination .disabled {
    color: #C0C0C0;
}
