.show_Header_Link{
  text-align: right;
  font-weight: normal;
}

.nav-tabs{
  -webkit-box-shadow: 0 7px 6px -6px #777;
   -moz-box-shadow: 0 7px 6px -6px #777;
        box-shadow: 0 7px 6px -6px #777;
  background-color: white
}

.user_Edit_Tab{
  margin-top:2%;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1%;
  background-color:white;
  -webkit-box-shadow: 0 7px 6px -6px #777;
   -moz-box-shadow: 0 7px 6px -6px #777;
        box-shadow: 0 7px 6px -6px #777;
}

.user_Edit_Table{
  margin-top:2%;
}
